viestintapalvelu-service/src/main/resources/via/wsdl/viranomaispaluukanava.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ViranomaisPaluukanava" targetNamespace="http://www.suomi.fi/asiointitili"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.suomi.fi/asiointitili"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.suomi.fi/asiointitili">
            <xsd:element name="VieKohdeTiloja">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="Viranomainen" type="tns:Viranomainen"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="Kysely" type="tns:Kysely_WSPA4"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Viranomainen">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="ViranomaisTunnus" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="PalveluTunnus" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="KayttajaTunnus" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="SanomaTunniste" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="SanomaVersio" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="SanomaVarmenneNimi" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kysely_WSPA4">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="KohdeMaara" type="xsd:int"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Kohteet" type="tns:ArrayOfKohde_WSPA4"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfKohde_WSPA4">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Kohde" nillable="true" type="tns:Kohde_WSPA4"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kohde_WSPA4">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="ViranomaisTunniste" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Asiakas" type="tns:AsiakasJaKohteenTila_WSPA4"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AsiakasJaKohteenTila_WSPA4">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="AsiointitiliTunniste" type="xsd:string"/>
                    <xsd:element minOccurs="1" maxOccurs="1" name="KohteenTila" type="xsd:int"/>
                    <xsd:element minOccurs="1" maxOccurs="1" name="KohteenTilaPvm" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="KohteenTilaKuvaus" type="xsd:string"/>
                </xsd:sequence>
                <xsd:attribute name="AsiakasTunnus" type="xsd:string"/>
                <xsd:attribute name="TunnusTyyppi" type="xsd:string"/>
            </xsd:complexType>
            <xsd:element name="VieKohdeTilojaResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="VieKohdeTilojaResult" type="tns:Vastaus_WSPA4"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Vastaus_WSPA4">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="TilaKoodi" type="tns:TilaKoodi_WS"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TilaKoodi_WS">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="TilaKoodi" type="xsd:int"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="TilaKoodiKuvaus" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="SanomaTunniste" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="VieKohteita">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="Viranomainen" type="tns:Viranomainen"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="Kysely" type="tns:Kysely_WSPA5"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Kysely_WSPA5">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="KohdeMaara" type="xsd:int"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Kohteet" type="tns:ArrayOfKohde_WSPA5"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfKohde_WSPA5">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Kohde" nillable="true" type="tns:Kohde_WSPA5"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kohde_WSPA5">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Asiakas" type="tns:Asiakas"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="AsiointitiliTunniste" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Viittaus" type="tns:ArrayOfViittaus_WS"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Nimeke" type="xsd:string"/>
                    <xsd:element minOccurs="1" maxOccurs="1" name="LahetysPvm" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="LahettajaNimi" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="KuvausTeksti" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Tiedostot" type="tns:ArrayOfTiedosto"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Asiakas">
                <xsd:attribute name="AsiakasTunnus" type="xsd:string"/>
                <xsd:attribute name="TunnusTyyppi" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfViittaus_WS">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Viittaus_WS" nillable="true" type="tns:Viittaus_WS"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Viittaus_WS">
                <xsd:attribute name="ViittausTunniste" type="xsd:string"/>
                <xsd:attribute name="ViittausTunnisteTyyppi" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTiedosto">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Tiedosto" nillable="true" type="tns:Tiedosto"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Tiedosto">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="TiedostonKuvaus" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="TiedostoURL" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="TiedostoSisalto" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="TiedostoKoko" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="TiedostoMuoto" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="TiedostoNimi" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="VieKohteitaResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="VieKohteitaResult" type="tns:Vastaus_WSPA5"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Vastaus_WSPA5">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="TilaKoodi" type="tns:TilaKoodi_WS"/>
                    <xsd:element minOccurs="1" maxOccurs="1" name="KohdeMaara" type="xsd:int"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Kohteet" type="tns:ArrayOfKohde_WSPA5_V"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfKohde_WSPA5_V">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Kohde" nillable="true" type="tns:Kohde_WSPA5_V"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kohde_WSPA5_V">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="AsiointitiliTunniste" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="ViranomaisTunniste" type="xsd:string"/>
                    <xsd:element minOccurs="1" maxOccurs="1" name="KohteenTila" type="xsd:int"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="KohteenTilaKuvaus" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ViranomaisPaluukanava_VieKohdeTiloja_InputMessage">
        <wsdl:part name="parameters" element="tns:VieKohdeTiloja"/>
    </wsdl:message>
    <wsdl:message name="ViranomaisPaluukanava_VieKohdeTiloja_OutputMessage">
        <wsdl:part name="parameters" element="tns:VieKohdeTilojaResponse"/>
    </wsdl:message>
    <wsdl:message name="ViranomaisPaluukanava_VieKohteita_InputMessage">
        <wsdl:part name="parameters" element="tns:VieKohteita"/>
    </wsdl:message>
    <wsdl:message name="ViranomaisPaluukanava_VieKohteita_OutputMessage">
        <wsdl:part name="parameters" element="tns:VieKohteitaResponse"/>
    </wsdl:message>
    <wsdl:portType name="ViranomaisPaluukanava">
        <wsdl:operation name="VieKohdeTiloja">
            <wsdl:input wsaw:Action="http://www.suomi.fi/asiointitili/ViranomaisPaluukanava/VieKohdeTiloja" message="tns:ViranomaisPaluukanava_VieKohdeTiloja_InputMessage"/>
            <wsdl:output wsaw:Action="http://www.suomi.fi/asiointitili/ViranomaisPaluukanava/VieKohdeTilojaResponse" message="tns:ViranomaisPaluukanava_VieKohdeTiloja_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="VieKohteita">
            <wsdl:input wsaw:Action="http://www.suomi.fi/asiointitili/ViranomaisPaluukanava/VieKohteita" message="tns:ViranomaisPaluukanava_VieKohteita_InputMessage"/>
            <wsdl:output wsaw:Action="http://www.suomi.fi/asiointitili/ViranomaisPaluukanava/VieKohteitaResponse" message="tns:ViranomaisPaluukanava_VieKohteita_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ViranomaisPaluukanavaSoap" type="tns:ViranomaisPaluukanava">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="VieKohdeTiloja">
            <soap:operation soapAction="http://www.suomi.fi/asiointitili/ViranomaisPaluukanava/VieKohdeTiloja" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="VieKohteita">
            <soap:operation soapAction="http://www.suomi.fi/asiointitili/ViranomaisPaluukanava/VieKohteita" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ViranomaisPaluukanava">
        <wsdl:port name="ViranomaisPaluukanavaSoap" binding="tns:ViranomaisPaluukanavaSoap">
            <soap:address location="http://localhost:59587/ViranomaisPaluukanava.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>